.header
    .image
        h1.title Mery's Library
        nav.nav
            ul
                li 
                    a(href="/") HOME
                li 
                    a(href="/about") ABOUT 
                li 
                    a(href="/clients") CLIENTS 
                    //- app.use('/client', clientRouter); en app.js
                li 
                    a(href="/clients/new") NEW CLIENT 