extends ../layout

block content
  .about
    p #{text}
       
    p 
        strong More about Ana:

    ul.info        
        li 
            a.enlace(href="http://www.modernus.com.es/", target="_blank") Website
        li.separador |
        li
            a.enlace(href="https://www.linkedin.com/in/ana-hertaj", target="_blank") Linkedin 
        li.separador |
        li
            a.enlace(href="https://github.com/AnaHertaj", target="_blank") Github
        li.separador |
        li
            a.enlace(href="https://soundcloud.com/ahtlea", target="_blank") Soundcloud


